<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/" class="simple-text">
            <div class="icon-big icon-success">
                <i class="ti-heart"></i>
            </div>
            Medicaly
        </a>
    </div>
    <ul class="nav">
        <li *ngIf="isNotMobileMenu() && authService.isAuthenticated()">
            <a style="cursor: pointer" (click)="authService.logout()">
                <p>Logout({{authService.username}})</p>
            </a>
        </li>
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>