<div class="card">
  <div class="content">
      <div class="row">
          <div class="col-xs-5">
              <div class="icon-big icon-danger text-center">
                  <i class="ti-pin"></i>
              </div>
          </div>
          <div class="col-xs-7">
              <div class="numbers">
                  <p>Temperature</p>
                  {{ examination.value }} &deg;C
              </div>
          </div>
      </div>
      <div class="footer">
          <hr />
          <div class="stats">
              <i class="ti-timer"></i> {{ examination.date | date}}
          </div>
      </div>
  </div>
</div>