<div class="card">
  <div class="content" (click)="showDataModal()">
    <div class="row">
      <div class="col-xs-12">
        <h3>Julia Krawczyk</h3>
        <div>
          <strong>PESEL:</strong> 97102312451</div>
        <div>
          <strong>Birth date:</strong> 23.10.2994</div>
        <div>
          <strong>Phone number:</strong> 534 080 555</div>
      </div>
    </div>
  </div>
  <div class="footer">
    <hr />
    <div class="btn-wrapper">
      <button class="btn btn-sm btn-primary">Examinations</button>
      <button class="btn btn-sm btn-primary">More info</button>
      <button class="btn btn-sm btn-danger">Delete</button>
    </div>
  </div>
</div>